body {
    background-color: rgb(226, 255, 255);
    color: rgb(8, 8, 63);
    text-align: center;
    margin-top: 5rem;
}

h1  {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

li {
    list-style: none;
}

.negrita1 {
    font-size: 2rem;
}