body {
    background-color: rgb(226, 255, 255);
    color: rgb(8, 8, 63);
    text-align: center;
    margin-top: 5rem;
}

.cabecera1 {
    display: flex;
    flex-direction: column;
}


h1  {
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 11px 11px 13px 3px rgba(0, 4, 20, 0.84);
    background-color: rgb(255, 195, 85);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

li {
    list-style: none;
}

.negrita1 {
    font-size: 2rem;
}

.imagen {
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    box-shadow: 11px 11px 13px 3px rgba(16,28,87,0.84);
}